---
import fs from "node:fs/promises";
import PageLayout from "../../layouts/PageLayout.astro";
import ImageCard from "../../components/gallery/ImageCard.astro";
import type { InferGetStaticParamsType } from "astro";


const getImages = async (year: string) => {
    const galleryDir = `./public/assets/images/gallery/`;
    const subDirs = await fs.readdir(galleryDir);
    const filteredDir = subDirs.filter(subDir => subDir.includes(year))[0];
    let images: string[] = [];
    const files = await fs.readdir(galleryDir + filteredDir);
    files.reverse();
    images = images.concat(
        files.map((file) => `/assets/images/gallery/${filteredDir}/${file}`)
    );
    return images;
};



export const getStaticPaths = () => {
    const teamYears = ["2023", "2022", "2021", "2020", "2019", "2018", "2017"];

    return teamYears.map((year) => {
        return { params: { year } };
    });
};

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { year } = Astro.params as Params;
const YearNum = Number(year);
const images = await getImages(year.toString());

---

<PageLayout
    canonical="/gallery"
    headTitle="Gallery | ACM-DBIT"
    description="Take a look at the amazing journey of ACM DBIT and all its amazing milestons. The gallery is filled with the energy of our team and students."
    pageTitle="Gallery"
    bannerBg="/assets/images/banner/banner1.jpg"
>
    <!-- Content Area -->
    <div class="content-block">
        <!-- Gallery -->
        <div class="section-area section-sp1 gallery-bx">
            <div class="container">
                <div class="clearfix">
                    <div
                        id="masonry"
                        class="ttr-gallery-listing magnific-image row"
                        style="list-style: none;"
                    >
                        {images.map((image) => <ImageCard image={image} />)}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Area END -->
</PageLayout>
