---
import type { CourseData } from './type';
import CourseCard from './CourseCard.astro';

    const url = "https://api-eu-central-1.graphcms.com/v2/ckpv3up06dqcq01xxfy3y5xwn/master?query=%7B%0A%20%20courses(orderBy%3AeventDate_DESC)%20%7B%0A%20%20%20%20id%0A%20%20%20%20title%0A%20%20%20%20youtubeID%0A%20%20%20%20taughtBy%0A%20%20%20%20eventDate%0A%20%20%20%20%0A%20%20%20%20%0A%20%20%7D%0A%7D";
    const getCourses = async () => {
        const res = await fetch(url);
        const json = await res.json();
        const courses = json.data.courses;
        courses.forEach(
            (course: { eventDate: string; }) =>
                (course.eventDate = course.eventDate.replaceAll("-", "/"))
        );
        return courses;
    };

    const courseData: CourseData[] = await getCourses()
    
---

<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0"
id="coursesHere"
>
{courseData.map((course) => <CourseCard course = {course}/>)}

</div>

