---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="404 | ACM-DBIT">
	<div class="account-form mt-5">
		<div class="account-form-inner">
			<div class="account-container">
				<div class="error-page">
					<h3>Ooopps :(</h3>
					<h2 class="error-title">404</h2>
					<h5>The Page you were looking for, couldn't be found.</h5>
					<p>
						The page you are looking for might have been removed,
						had its name changed, or is temporarily unavailable.
					</p>
					<div class="">
						<a href="/" class="btn outline black">Back To Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</RootLayout>
