---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
	<header class="masthead">
		<div class="container h-100 d-flex justify-content-center">
			<div class="row h-100 align-items-center justify-content-center">
				<div class="col-12 text-center header-text">
					<p class="lead">Largest Student Chapter in DBIT</p>
					<h1 class="fw-light text-white">
						Advancing Computing as a Science & Profession
					</h1>
					<p class="lead">An initiative by DBIT Computer Dept.</p>
				</div>
			</div>
		</div>
	</header>

	<!-- Content  -->
	<div class="page-content bg-white">
		<div class="content-block">
			<div
				class="section-area content-inner service-info-bx pb-5"
				style="background-color: rgb(208, 234, 245, 0,3);"
			>
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx bg-white">
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-bank text-primary"></i>
									</div>
									<h4>Peer Learning</h4>
									<p>
										Interact with your fellow peers, teach
										and learn, share knowledge and grow.
									</p>
									<!-- <a href="#" class="btn radius-xl">View More</a>  -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx bg-white">
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-book text-primary"></i>
									</div>
									<h4>Digital Library</h4>
									<p>
										The ACM Digital Library is a research,
										discovery and networking platform.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="service-bx m-b0 bg-white">
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-trophy text-primary"
										></i>
									</div>
									<h4>Reach Your Goals</h4>
									<p>
										Achieve your goals and become industry
										ready and enjoying while at it.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="section-area section-sp1 ovpr-dark bg-fix online-cours"
			style="background-image: url('/assets/images/background/bg-teknack2.jpg');"
		>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center header-text text-white">
						<p class="lead">ACM DBIT is honoured to receive the</p>
						<h2>Student Chapter Excellence Award</h2>
					</div>
				</div>
				<div class="m-auto">
					<div class="row justify-content-center">
						<img
							style="height: 300px;"
							src="/assets/images/chp-award.png"
							alt="chapter excellence award"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 m-b30">
						<h2 class="title-head">
							Campus Talk: Gaming studio at this Mumbai college
							shows students out-of-the-box way of learning
							technology<br />
							<!-- <span class="text-primary"> </span>   -->
						</h2>
						<a
							class="d-flex animate-right"
							target="_blank"
							href="https://indianexpress.com/article/cities/mumbai/campus-talk-gaming-studio-teknack-8444954/"
						>
							<img
								class="mt-2 w-50"
								src="/assets/images/ind-exp.png"
								alt="indian-express logo"
							/>
							<i class="fa fa-3x fa-long-arrow-right ml-4"></i>
						</a>
					</div>
					<div class="col-lg-6">
						<p>
							The Indian Express featured an article on Teknack,
							ACM's captivating competition that ignites student
							creativity and technical skills. It highlighted how
							participants craft groundbreaking games, showcasing
							dedication, and pushing boundaries. Teknack serves
							as a breeding ground for future innovators,
							fostering creativity, collaboration, and skill
							development in Indian youth.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div
			class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center text-white"
			style="background-image: url(/assets/images/background/bg-teknack2.jpg);"
		>
			<div class="container">
				<div class="row text-center text-white">
					<h2 class="col-12 text-center">Our Ventures</h2>
				</div>
				<div class="row">
					<div class="col-6 text-center">
						<img
							src="/assets/images/tknk-white.png"
							class="img img-fluid col-12 col-md-8"
							alt="Teknack Logo"
						/>
						<hr />
						<h3 style={{ fontSize: "1.2rem" }}>
							Teknack Gaming Studio
						</h3>
						<a
							href="https://dbit.acm.org/teknack"
							target="_blank"
							class="btn">Teknack Website</a
						>
					</div>
					<div class="col-6 text-center">
						<img
							src="/assets/images/ff-trasperant-light-04.png"
							class="img img-fluid col-12 col-md-8"
							alt="FlockFlair Logo"
						/>
						<hr />
						<h3 style={{ fontSize: "1.2rem" }}>
							FlockFlair Freelancing
						</h3>
						<a
							href="https://dbit.acm.org/flockflair"
							target="_blank"
							class="btn">FlockFlair Website</a
						>
					</div>
				</div>
			</div>
		</div>

		<div class="section-area section-sp1">
			<div class="container">
				<!-- <div class="row my-3 justify-content-center">
			  <div class="col-lg-11 col-md-9 col-11 mb-5">
				<a href="https://dbit.acm.org/teknack"><Image class="img-fluid" src="assets/images/teknack-2022.webp" alt="Teknack 2022" /></a>

			  </div>
			</div>  -->
				<div class="row">
					<div class="col-lg-6 m-b30">
						<h2 class="title-head">
							ACM DBIT Student Chapter<br />
							<span class="text-primary"
								>Dept. of Computer Engineering</span
							>
						</h2>
						<h4>Since 2003</h4>
						<p>
							Learn from the best mentors. Get certified in the
							latest technologies. We understand the students
							needs and find the best suited training and
							workshops required and help the students polish
							their skillsets to guarantee an excellent career
							ahead.
						</p>
						<a
							href="https://youtu.be/LJBzf6OgHTo"
							class="btn button-md">Highlights</a
						>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a
											href="#"
											class="icon-cell"
											aria-label="icon"
											><img
												src="/assets/images/icon/icon1.png"
												alt=""
											/></a
										>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">
											Our Philosophy
										</h5>
										<p>
											Creates opportunities for
											Innovation.
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a
											href="#"
											class="icon-cell"
											aria-label="icon"
											><img
												src="/assets/images/icon/icon2.png"
												alt=""
											/></a
										>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Our Motto</h5>
										<p>
											Advancing Computing as a Science &
											Profession
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a
											href="#"
											class="icon-cell"
											aria-label="icon"
											><img
												src="assets/images/icon/icon3.png"
												alt=""
											/></a
										>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">
											Key Of Success
										</h5>
										<p>
											We have a clear vision and are able
											to articulate the path forward to
											the team..
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a
											href="#"
											class="icon-cell"
											aria-label="icon"
											><img
												src="assets/images/icon/icon4.png"
												alt=""
											/></a
										>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Our Team</h5>
										<p>
											Diversity in skills with effective
											communication.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="section-area section-sp1 ovpr-dark bg-fix online-cours"
			style="background-image: url(/assets/images/background/bg-teknack2.jpg);"
		>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center text-white">
						<h2>ACM DBIT Student Chapter</h2>
						<p>
							The ACM-DBIT student chapter first took root in the
							year 2003 and is currently in its twentieth year of
							awesomeness. <br />This chapter is the largest known
							student chapter in the campus of DBIT with over 700
							members.
							<br />Come be a part of us!!
						</p>
					</div>
				</div>
				<div class="mw800 m-auto">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="cours-search-bx m-b30">
								<div class="icon-box">
									<h3>
										<i class="ti-user"></i><span
											class="counter">500</span
										>+
									</h3>
								</div>
								<span class="cours-search-text"
									>Amazing Students</span
								>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="cours-search-bx m-b30">
								<div class="icon-box">
									<h3>
										<i class="ti-cup"></i><span
											class="counter">200</span
										>+
									</h3>
								</div>
								<span class="cours-search-text"
									>Events and Workshops</span
								>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="cours-search-bx m-b30">
								<div class="icon-box">
									<h3>
										<i class="ti-bar-chart"></i><span
											class="counter"
											id="years-of-growth">20</span
										>+
									</h3>
								</div>
								<span class="cours-search-text"
									>Years of Growth</span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Popular Courses   -->
		<div class="section-area section-sp2 popular-courses-bx">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 class="title-head">
							Popular <span>Courses</span>
						</h2>
						<p>
							It is a long established fact that a reader will be
							distracted by the readable content of a page
						</p>
					</div>
				</div>
				<div class="row">
					<div
						class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0"
						id="coursesHere"
					>
					</div>
				</div>
			</div>
		</div>

		<!-- Popular Courses END   -->

		<!-- Form   -->

		<div
			class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center"
			style="background-image: url(/assets/images/background/bg-teknack2.jpg);"
		>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="join-content-bx text-white">
							<h2 class="pb-2 mb-2" style={{ fontSize: "5rem" }}>
								Teknack
							</h2>
							<h5>India's first college-based gaming studio</h5>
							<br />
							<h4>
								<span class="counter">78</span>+ Games Published
								On Google Play Store
							</h4>
							<p>
								Teknack is one of the amazing battlefields
								provided by ACM for students of not just DBIT
								but also of other colleges to boost up their
								creative skills and pump up their technical
								skills by amalgamating with newer ideas and
								facts to build up Games that give the players an
								experience that would last with them forever
							</p>
							<a
								href="https://dbit.acm.org/teknack/"
								target="_blank"
								rel="noopener"
								class="btn button-md">Teknack Website</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Form END -->

		<div class="section-area bg-gray section-sp1 our-story">
			<div class="container">
				<div
					class="row align-items-center d-flex justify-content-center"
				>
					<div class="col-lg-8 col-md-7 col-12 heading-bx">
						<h2 class="m-b10">FlockFlair Freelancing</h2>
						<h5 class="fw4">Our in-house freelancing venture.</h5>
						<p>
							We from Flockflair are an initiative from the
							student chapter of ACM-DBIT. We are passionate about
							helping others succeed in their goals with improving
							effectiveness. We have extensive experience in
							programming and continue to expand our knowledge in
							the field. Our services will make you feel
							completely satisfied with the end product with 100%
							satisfaction. As we always say "You name it, We make
							it".
						</p>
						<a
							href="https://dbit.acm.org/flockflair"
							rel="noopener"
							target="_blank"
							class="btn"
							aria-label="FlockFlair">Know More</a
						>
					</div>
					<div
						class="col-lg-4 col-md-5 col-5 justify-content-center heading-bx p-lr"
					>
						<div class="video-bx">
							<img
								src="assets/images/flockflair/ff1.png"
								alt=""
							/>
							<!-- <a href="https://www.youtube.com/watch?v=x_sJzVe9P_8" class="popup-youtube video"><i
					class="fa fa-play"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-md-12 heading-bx left">
					<h2 class="title-head">
						Our Social <span>Commitments</span>
					</h2>
					<p>
						We work and cooperate with other
						individuals/orgainzations for the benefit of the
						community.
					</p>
					<div class="row mt-5">
						<div
							class="col-lg-6 col-md-6 col-12 d-flex align-items-center heading-bx p-lr"
						>
							<img
								class="col-10 col-md-8 justify-content-center mx-auto"
								src="assets/images/G4I.jpg"
								alt="Girls4Impact"
							/>
						</div>
						<div
							class="col-lg-6 col-md-6 col-12 d-flex flex-column align-items-end"
						>
							<div>
								<h2 class="m-b10">Girls4Impact</h2>
								<h5 class="fw4">
									An International Collaboration.
								</h5>
								<p>
									This was an 10 week long computer science
									collaboration program between ACM-DBIT
									Student Chapter and Girls4Impact an
									International orgainzation aiming to help
									young women in India explore their passion
									for engineering! This program was for female
									school students, in hopes to improve gender
									gap in engineering and tech industry.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-8 col-12 heading-bx">
							<h2 class="m-b10">Shantighar, Andheri</h2>
							<h5 class="fw4">
								<a
									href="https://shantigharandheri.com"
									target="_blank"
									class="btn btn-primary">Official Website</a
								><br />
							</h5>
							<p>
								Shantighar is a Shelter home for battered women
								and children who are in crisis. ACM-DBIT Student
								Chapter took the initiative and developed a
								website for Shantighar to further increase their
								digital outreach to the women and childern in
								crisis.
							</p>
						</div>
						<div class="col-lg-4 col-md-4 col-12 heading-bx p-lr">
							<img
								src="assets/images/shantighar.png"
								class="col-9"
								alt="Shantighar, Andheri"
							/>
						</div>
					</div>
				</div>
			</div>

			<!-- Testimonials -->
			<div
				class="section-area section-sp2 bg-fix ovbl-dark join-bx"
				style="background-image: url(/assets/images/background/bg-teknack2.jpg);"
			>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-white heading-bx left">
							<h2 class="title-head text-uppercase">
								what people <span>say</span>
							</h2>
							<p>
								Learning from mistakes, encouraged by suppoters,
								and motivated by inspiration, we are moving
								forward each day.
							</p>
						</div>
					</div>
					<div
						class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0"
					>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img
										src="assets/images/testimonials/glen.jfif"
										alt=""
									/>
								</div>
								<div class="testimonial-info">
									<h5 class="name">Glen Martin</h5>
									<p>Software Engineer, LTI</p>
								</div>
								<div class="testimonial-content">
									<p>
										ACM - DBIT is always giving you an upper
										edge. If you have an idea, love to
										innovate, design, want to learn, teach
										or just talk tech this is the perfect
										place for you to be at.
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img
										src="assets/images/testimonials/sean.jfif"
										alt=""
									/>
								</div>
								<div class="testimonial-info">
									<h5 class="name">Sean D'Cruz</h5>
									<p>Chairperson (2019-20)</p>
								</div>
								<div class="testimonial-content">
									<p>
										ACM DBIT is not doubt the one place when
										it comes to learning, experimenting new
										possibilities, exploring new ideas and
										so on and so forth .One could do
										everything being a part of ACM and
										that's exactly what helped me, ACM DBIT
										is the one major reason that helped me
										achieve my goals.
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img
										src="assets/images/testimonials/cherag.jfif"
										alt=""
									/>
								</div>
								<div class="testimonial-info">
									<h5 class="name">Cherag Bachhawat</h5>
									<p>Founder, CV Dragon</p>
								</div>
								<div class="testimonial-content">
									<p>
										What happens when the entire
										Initiative-Planning-Execution is done by
										students! A great interaction and high
										respect for coordinating team!! Special
										thanks to entire team of DBIT-Mumbai for
										inviting me !
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END  -->

			<div class="section-area section-sp1">
				<div class="container">
					<div class="row">
						<div class="col-md-12 heading-bx left">
							<h2 class="title-head text-uppercase">
								Reach Out <span>To Us</span>
							</h2>
							<!-- <p>Learning from mistakes, encouraged by suppoters, and motivated by inspiration, we are
					moving forward each day.</p>   -->
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-7 col-sm-7 m-b30">
							<div class="feature-container">
								<div class="icon-content">
									<h5 class="ttr-tilte">Address</h5>
									<p>
										Premier Automobiles Road, Opp. HDIL
										Premier Exotica,
										<br />Kurla West, Mumbai, Maharashtra
										400070
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5 m-b30">
							<div class="feature-container">
								<div class="icon-content">
									<h5 class="ttr-tilte">Email</h5>
									<a href="mailto:acm@dbit.in">acm@dbit.in</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- contact area END  -->
	</div>
	<!-- Content END -->
</RootLayout>
