---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
	title="ACM-DBIT Student Chapter - Official Website"
	description="Largest Student Chapter in DBIT! The ACM-DBIT student chapter first took root in the year 2003 and is currently in its twentieth year of awesomeness. This chapter is the largest known student chapter in the campus of DBIT with over 700 members.Come be a part of us!!"
>
	<h1>Welcome to ACM-DBIT Student Chapter</h1>
</RootLayout>
