---
import "../styles/links-style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Links | ACM DBIT</title>

    <meta
      name="keywords"
      content="acm, dbit, student, chapter, don bosco, mumbai, kurla, engineering, computer, Ventures, Gaming Studio,Website,Freelancing,Philosophy,Innovation,Advancing, Computing, Science, Profession,DBIT,Teknack,Flockflair,ACM,DBIT-Mumbai"
    />
    <meta name="author" content="ACM DBIT" />

    <link rel="canonical" href="https://dbit.acm.org/links" />

    <!-- DESCRIPTION -->
    <meta
      name="description"
      content="Find all the improtant links for ACM DBIT Student Chapter here."
    />

    <!-- OG -->
    <meta property="og:title" content="Links | ACM DBIT" />
    <meta
      property="og:description"
      content="Find all the improtant links for ACM DBIT Student Chapter here."
    />
  </head>

  <body>
    <div class="container OuterBox">
      <div class="row text-center">
        <div class="col-md-12">
          <h1><b>ACM DBIT LINKS</b></h1>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <a href="https://www.instagram.com/acmdbit" class="col-2 col-md-1 px-1">
          <i
            class="bi bi-instagram socialIcon"
            role="img"
            aria-label="Instagram"
            style="font-size: 1.5rem"></i>
        </a>
        <a
          href="https://www.linkedin.com/company/acm-dbit"
          class="col-2 col-md-1 px-1"
        >
          <i
            class="bi bi-linkedin socialIcon"
            role="img"
            aria-label="LinkedIn"
            style="font-size: 1.5rem"></i>
        </a>
        <a href="https://www.facebook.com/ACMDBIT/" class="col-2 col-md-1 px-1">
          <i
            class="bi bi-facebook socialIcon"
            role="img"
            aria-label="Facebook"
            style="font-size: 1.5rem"></i>
        </a>
        <a
          href="https://twitter.com/acmdbit?lang=en"
          class="col-2 col-md-1 px-1"
        >
          <i
            class="bi bi-twitter socialIcon"
            role="img"
            aria-label="Twitter"
            style="font-size: 1.5rem"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UC58zaYJo0LL_aJXvqLDJGLA"
          class="col-2 col-md-1 px-1"
        >
          <i
            class="bi bi-youtube socialIcon"
            role="img"
            aria-label="Twitter"
            style="font-size: 1.5rem"></i>
        </a>
        <a href="https://github.com/acm-dbit" class="col-2 col-md-1 px-1">
          <i
            class="bi bi-github socialIcon"
            role="img"
            aria-label="Twitter"
            style="font-size: 1.5rem"></i>
        </a>
      </div>
      <hr style="width: 50%; margin: auto; margin-top: 30px" class="my-3" />
      <div class="row" id="cmslinks">
        <!-- <h3 style="text-align: center;padding: 10px;padding-top: 30px;">
                Gradesheet Forms
            </h3> -->
      </div>
      <hr style="width: 50%; margin: auto; margin-top: 30px" />
      <div class="row">
        <!-- <h3 style="text-align: center;padding: 10px;padding-top: 30px;">
                Gradesheet Forms
            </h3> -->
        <div class="col-12 linkField text-center justify-content-center">
          <a class="col-12" href="https://dbit.acm.org" target="_blank"
            ><button class="linkButton py-3">Official Website</button></a
          >
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a class="col-12" href="https://dbit.acm.org/teknack" target="_blank">
            <button class="linkButton py-3">Teknack Website</button>
          </a>
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a
            class="col-12"
            href="https://dbit.acm.org/flockflair"
            target="_blank"
          >
            <button class="linkButton py-3">FlockFlair Website</button>
          </a>
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a
            class="col-12"
            href="https://play.google.com/store/apps/developer?id=Teknack&hl=en&gl=US"
            target="_blank"
          >
            <button class="linkButton py-3">Teknack Play Store Link</button>
          </a>
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a class="col-12" href="https://teknack.itch.io/" target="_blank">
            <button class="linkButton py-3">Teknack Itch.io Link</button>
          </a>
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a
            class="col-12"
            href="https://github.com/teknackgaming"
            target="_blank"
          >
            <button class="linkButton py-3">Teknack GitHub Profile</button>
          </a>
        </div>
        <div class="col-12 linkField text-center justify-content-center">
          <a
            class="col-12"
            href="https://gitlab.com/teknackgaming"
            target="_blank"
          >
            <button class="linkButton py-3">Teknack GitLab Profile</button>
          </a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
  </body>
</html>

<script>
  interface link {
    id: string;
    title: string;
    url: string;
  }
  const url =
    "https://api-eu-central-1.graphcms.com/v2/ckpv3up06dqcq01xxfy3y5xwn/master?query=%7B%0A%20%20links%20%7B%0A%20%20%20%20id%0A%20%20%20%20title%0A%09%09url%20%20%20%20%0A%20%20%20%20%0A%20%20%7D%0A%7D";
  const getLinks = async () => {
    const res = await fetch(url);
    const json = await res.json();
    const data: link[] = json.data.links;
    return data;
  };
  const linkComponent = (link: link) => {
    return `<div class="col-12 linkField text-center justify-content-center">
        <a class="col-12" href="${link.url}" target="_blank"><button class="linkButton py-3">${link.title}</button></a>
    </div>`;
  };
  const buildLinks = (links: link[]) => {
    let temp = "";
    links.forEach((link) => {
      temp += linkComponent(link);
    });
    return temp;
  };
  const links = await getLinks();
  document.querySelector("#cmslinks")!.innerHTML = buildLinks(links);
</script>
