---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    headTitle="Open Source Project Submit | ACM-DBIT Student Chapter"
    pageTitle="Open Source Project Submission"
    bannerBg="/assets/images/banner/banner5.png"
>
    <!-- inner page banner -->
    <div class="page-banner contact-page section-sp2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 m-b30">
                    <div class="bg-primary text-white contact-info-bx">
                        <h2 class="m-b10 title-head">
                            Publish <span>Your Project</span>
                        </h2>
                        <p>
                            We publish your project on GitHub and GitLab
                            accounts to make your project reach thousands of
                            developers.
                        </p>
                        <div class="widget widget_getintuch">
                            <ul>
                                <li>
                                    <i class="ti-github"></i><a
                                        href="https://github.com/acm-dbit"
                                        target="_blank">github.com/acm-dbit</a
                                    >
                                </li>
                                <li>
                                    <i class="ti-instagram"></i><a
                                        href="https://www.instagram.com/acmdbitt/"
                                        target="_blank"
                                        >instagram.com/acmdbitt</a
                                    >
                                </li>
                                <li>
                                    <i class="ti-linkedin"></i><a
                                        href="https://in.linkedin.com/company/acm-dbit"
                                        target="_blank">linkedin.com/acm-dbit</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <h5 class="m-t0 m-b20">Follow Us</h5>
                        <ul class="list-inline contact-social-bx">
                            <li>
                                <a
                                    href="https://www.instagram.com/acmdbitt/"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-instagram"></i></a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://in.linkedin.com/company/acm-dbit"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-linkedin"></i></a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://github.com/acm-dbit"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-github"></i></a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://twitter.com/acmdbit?lang=en"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-twitter"></i></a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://www.youtube.com/channel/UC58zaYJo0LL_aJXvqLDJGLA/videos?view=0"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-youtube-play"></i></a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/ACMDBIT/"
                                    target="_blank"
                                    class="btn outline radius-xl"
                                    ><i class="fa fa-facebook"></i></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form
                        class="contact-bx ajax-form"
                        name="google-sheet"
                        id="open-source-form"
                    >
                        <div class="heading-bx left">
                            <h2 class="title-head">
                                Submit <span>Your Project</span>
                            </h2>
                            <p>
                                Want to publish your project to Open Source
                                Community? Send us your project. We will get it
                                published!
                            </p>
                        </div>
                        <div class="row placeani">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Developer Full Name</label>
                                        <input
                                            name="DeveloperName"
                                            id="DeveloperName"
                                            type="text"
                                            required
                                            class="form-control valid-character"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Your Email Address</label>
                                        <input
                                            name="EmailID"
                                            id="EmailID"
                                            type="email"
                                            class="form-control"
                                            required
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>College Name</label>
                                        <input
                                            name="CollegeName"
                                            id="CollegeName"
                                            type="text"
                                            required
                                            class="form-control int-value"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Branch</label>
                                        <input
                                            name="Branch"
                                            id="Branch"
                                            type="text"
                                            required
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Year</label>
                                        <input
                                            name="Year"
                                            id="Year"
                                            type="text"
                                            required
                                            class="form-control int-value"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Title of Project</label>
                                        <input
                                            name="TitleofProject"
                                            id="TitleofProject"
                                            type="text"
                                            required
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Project Link</label>
                                        <input
                                            name="ProjectLink"
                                            id="ProjectLink"
                                            type="text"
                                            required
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button
                                    name="submit"
                                    type="submit"
                                    value="Submit"
                                    id="form-submit"
                                    class="btn button-md">Submit</button
                                >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="page-banner contact-page section-sp2 pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="heading-bx left">
                        <h2 class="title-head">
                            Know About<span> Open Source</span>
                        </h2>
                    </div>
                    <p>
                        As we continue to advance technologically, more and more
                        products and services are being transformed into
                        software ready services. And many of them are being made
                        open-source.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="heading-bx left">
                        <h2 class="title-head">
                            What is <span> Open Source?</span>
                        </h2>
                    </div>
                    <p>
                        In simple words, we can describe an open source project
                        as source code that is made available to the public to
                        view, use, modify, and distribute under a permissive
                        license. Once code is made public, and you need to add a
                        feature or make changes, the owner has to approve the
                        added changes and publish them for others to see.
                        <br />
                        Most successful open-source projects are a result of contributions
                        from people with all skill levels - and not only coding skills,
                        but also other skills like writing, languages, and so on.
                        Any time someone fixes a typo, adds an alert about a possible
                        compiler warning, fixes a bug, or even adds detailed documentation
                        to a project, progress is made. If we take all these small
                        contributions from different people with different skills
                        and put them together, great things can happen.
                    </p>
                    <blockquote>
                        Great things are done by a series of small things
                        brought together.
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="heading-bx left">
                        <h2 class="title-head">
                            Why you <span>Should Contribute?</span>
                        </h2>
                    </div>
                    <p>
                        Contributing to open source projects can be a rewarding
                        way to learn, teach, share, and build experience.
                        <br />
                        There are plenty of reasons why you should contribute to
                        an open source project, such as:
                    </p>
                    <ul class="ml-5">
                        <li>To improve the software you rely on daily.</li>
                        <li>To find a mentor if you need one.</li>
                        <li>
                            To learn new skills or improve on existing ones.
                        </li>
                        <li>To share your skills.</li>
                        <li>
                            To gain a much deeper knowledge about the software
                            you're using.
                        </li>
                        <li>
                            To build up your reputation and help grow your
                            career.
                        </li>
                        <li>
                            Plus, it's fun and gives you personal satisfaction
                            and hey, you never know who is watching, maybe it's
                            your next employer or partner 🙂.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->

    <script is:inline>
        const scriptURL =
            "https://script.google.com/macros/s/AKfycbxB6Nz38J-148436QwfuoWSrGlKQEiEJ3qpRj9ICFG5ofpPeVnO_0IvKjWpPVGr8fpp/exec";
        const form = document.forms["google-sheet"];

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            // $('#form-submit').prop('disabled', true);
            $("#form-submit").html("...");
            // $('#open-source-form')[0].reset();

            fetch(scriptURL, { method: "POST", body: new FormData(form) })
                .then((response) => {
                    alert("Submitted Successfully!");
                    $("#open-source-form")[0].reset();
                    $("#form-submit").html("Submit");
                })
                .catch((error) => console.error("Error!", error.message));
            // $('#open-source-form')[0].reset();
        });
    </script>
</PageLayout>
