---
import RootLayout from "./RootLayout.astro";
import { PageBanner, BreadCrumb } from "../components/page";

interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<RootLayout title={title + " | Events | ACM-DBIT"}>
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <PageBanner
            title={title}
            background="/assets/images/banner/banner1.jpg"
        />
        <!-- BreadCrumb -->
        <BreadCrumb>
            <li><a href="/">Home</a></li>
            <li>{title}</li>
        </BreadCrumb>
        <!-- Page Heading Box END ==== -->

        <!-- Page Content Box ==== -->
        <slot />
        <!-- Page Content Box END ==== -->
    </div>
</RootLayout>
