---
import EventDetailLayout from "../../layouts/EventDetailLayout.astro";

const url =
    "https://api-eu-central-1.graphcms.com/v2/ckpv3up06dqcq01xxfy3y5xwn/master?query=%7B%0A%20%20events(orderBy%3Adate_DESC)%20%7B%0A%20%20%20%20id%0A%20%20%20%20blog%20%7B%0A%20%20%20%20%20%20html%0A%20%20%20%20%20%20text%0A%20%20%20%20%7D%0A%20%20%20%20title%0A%20%20%20%20slug%0A%20%20%20%20date%0A%20%20%20%20month_name%20%0A%20%20%20%20thumbnail%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20url%0A%20%20%20%20%20%20fileName%0A%20%20%20%20%7D%0A%20%20%20%20images%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20url%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D";

const imgSrc = "src";
const title = "Title";
const content = "content";
---

<EventDetailLayout title="test">
    <div class="courses-post px-3">
        <div class="ttr-post-media media-effect">
            <img src={imgSrc} alt="" />
        </div>
        <div class="ttr-post-info">
            <div class="ttr-post-title">
                <h2 class="post-title">{title}</h2>
            </div>
        </div>
    </div>
    <div class="courese-overview" id="overview" style="width:100%;">
        <div class="px-3">
            {content}
        </div>
    </div>
</EventDetailLayout>
