on:
  push:
    branches:
      - master
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.2.0
      with:
        server: dbit.acm.org
        username: ${{ secrets.username}}
        password: ${{ secrets.password }}
        server-dir: ./public_html/
        local-dir: ./dist/
